body {
   background-color: #ffffff;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   color: #2E2F42;
   line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

header .container {
   display: flex;
   align-items: center;
}

.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

ul,
ol {
   list-style: none;
}
.top-line{
   border-bottom: 1px solid #e7e9fc ;
}
.link-logo {
   text-decoration: none;
   color: inherit;
   font-weight: 700;
   font-size: 18;
   line-height: 1.16;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-style: normal;
   padding: 0;
}

.webstudio {
   display: flex;
   align-items: center;
}



.first-link-logo {
   text-decoration: none;
   color: #4D5AE5;
   text-transform: uppercase;
   letter-spacing: 0.03em;
   font-size: 18px;
   line-height: 1.17;
   font-family: "raleway", sans-serif;
   font-weight: 700;
   font-style: normal;
   padding: 0;
   margin-right: 76px;

}

.first-line-contact {
   display: flex;
   gap: 24px;
}

.link {
   text-decoration: none;
   color: #2E2F42;
   font-weight: 400;
   letter-spacing: 0.02em;
   padding: 24px 0;
   display: block;
}

.link:hover,
link:focus {
   color: #404BBF;

}

.link:active {
   background-color: #404BBF;
   text-decoration: underline;
}

.contacts {
   font-style: normal;
   margin-left: auto;

}

.tel {
   display: flex;
   flex-direction: row;
   gap: 40px;
}

.link-contacts {
   text-decoration: none;
   color: inherit;
   font-weight: 400;
   padding: 24px 0;
   font-style: normal;
   letter-spacing: 0.02em;
   display: block;
}

.link-contacts:hover,
.link-contacts:focus {
   color: #404BBF;

}



.second-line {
   background-color: #2E2F42;
   color: #ffffff;
   padding: 188px 0;
   text-align:center;
}

.second-line .text {
   letter-spacing: 0.02em;
   font-weight: 700;
   font-size: 56px;
   text-align: center;
   line-height: 1.07;
   max-width: 496px;
   margin: 0 auto 48px;

}

.butt {
   background-color: #4D5AE5;
   color: #ffffff;
   cursor: pointer;
   font-family: "roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.04em;
   line-height: 1.5;
   min-width: 169px;
   height: 56px;
   padding: 16px 32px;
   border: none;
   border-radius: 4px;
   display: block;
   align-self: center;
   margin-left: auto;
   margin-right: auto;

}

.butt:hover {
   background-color: #404BBF
}

.benefits-table {
   display: flex;
   gap: 24px;
   margin-left: 156px;
   margin-right: 156px;
}

.benefits-line {
  font-weight: 400;
   width: calc((100% - 72px) / 4);
}

.benefits-item {
   font-size: 20px;
   line-height: 1, 2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   margin-bottom: 8px;
   
}

.benefits-text {
   font-weight: 400px;
 

}
.first-link-logo span {
   color: #2E2F42;
}
.our-team {
   background-color: #F4F4FD;
}

.our-team-title {
   font-size: 36px;
   line-height: 1.11;
   font-weight: 700;
   text-align: center;
   padding-top: 93px;
   padding-bottom: 72px;
}

.our-team-table {
   gap: 24px;
   display: flex;
   margin-left: 156px;
   margin-right: 156px;
}

.our-team-line {
   background-color: #ffffff;
   border-radius: 0px 0px 4px 4px;
   font-weight: 400;
   width: calc((100% - 72px) / 4);
}

.our-team-paragraf{
   text-align: center;
}
.our-team-item {
   margin-bottom: 8px;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   text-align: center;
}

.our-team-text {
   font-weight: 400px;
   padding: 32px 0;

}


.our-team {
   background-color: ##F4F4FD;
}

.our-portfolio-title {
   font-size: 36px;
   line-height: 1.11;
   font-weight: 700;
}

.our-portfolio-table {
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
   

}

.our-portfolio-line {
   width: calc((100% - 48px) / 3);

}

.our-portfolio-text {
   background-color: #ffffff;
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.our-portfolio-item {
   font-size: 20px;
   line-height: 1.2;
}

.our-portfolio-text {
   font-weight: 400px;
}

.last-line {
   background-color: #2E2F42;

   padding: 100px 0;

}

.second-link-logo {
   text-decoration: none;
   color: #4D5AE5;
   font-weight: 700;
   text-transform: uppercase;
   
   font-size: 18px;
   line-height: 1.17;
   font-family: "raleway", sans-serif;
   font-style: normal;
   margin-bottom: 16px;
   display: inline-block;
   margin-left: 156px;
}


.footer-paragraph {
   font-style: 16px;
   line-height: 1.5;
   margin-top: 16px;
   font-weight: 400;
   color: #F4F4FD;
   max-width: 264px;
   margin-left: 156px;
}

.second-studio {
   color: #f4f4fd;
}